body{
    background-image: linear-gradient(to right, #DBDFAA, #B3C890);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    background-color: #ffff;
    text-align: justify;
    margin: auto;
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px #8f8b6594;
}

h1{
    text-align: center;
    color: #F5F0BB;
    text-shadow: 2px 2px 5px black;
}

h2{
    color: #73A9AD;
}